asgiref
dj-database-url
Django
django-cors-headers
django-rest-auth
djangorestframework
djangorestframework_simplejwt
drf-yasg
et_xmlfile
gunicorn
inflection
numpy
openpyxl
packaging
pandas
psycopg2-binary
PyJWT
python-dateutil
PyYAML
six
sqlparse
typing_extensions
tzdata
uritemplate
whitenoise
